@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background font-geist;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Variables */
:root {
  @apply [--main-sidebar-width:0rem] [--margin-x:1rem] [--sidebar-panel-min-width:64px] [--sidebar-panel-width:300px] md:[--margin-x:1.5rem] md:[--sidebar-panel-width:220px] lg:[--main-sidebar-width:0rem] xl:[--margin-x:4rem];
}

.has-min-sidebar {
  @apply xl:[--margin-x:1.5rem];
}

.is-sidebar-open {
  @apply xl:[--margin-x:1.5rem];
}

@layer base {
  :root {
    --background: 220, 27%, 98%; /* #f8f9fb */
    --foreground: 0, 0%, 9%; /* #171717 */
    --card: 0, 0%, 100%; /* #ffffff */
    --card-foreground: 0, 0%, 9%; /* #171717 */
    --popover: 0, 0%, 100%; /* #ffffff */
    --popover-foreground: 0, 0%, 9%; /* #171717 */
    --primary: 176, 88%, 45%; /* #0ed6c7 */
    --primary-foreground: 0, 0%, 100%; /* #ffffff */
    --secondary: 0, 0%, 96%; /* #f5f5f5 */
    --secondary-foreground: 0, 0%, 9%; /* #171717 */
    --muted: 0, 0%, 96%; /* #f5f5f5 */
    --muted-foreground: 0, 0%, 45%; /* #737373 */
    --accent: 168, 88%, 97%; /* #effefb */
    --accent-foreground: 178, 77%, 22%; /* #0d625f */
    --destructive: 0, 84%, 60%; /* #ef4444 */
    --destructive-foreground: 0, 0%, 100%; /* #ffffff */
    --border: 0, 0%, 90%; /* #e5e5e5 */
    --input: 0, 0%, 90%; /* #e5e5e5 */
    --ring: 176, 88%, 45%; /* #0ed6c7 */
    --chart-1: 176, 88%, 45%; /* #0ed6c7 */
    --chart-2: 21, 100%, 75%; /* #ffb380 */
    --chart-3: 21, 100%, 55%; /* #e66b1a */
    --chart-4: 21, 100%, 45%; /* #cc5500 */
    --chart-5: 21, 100%, 35%; /* #993d00 */
    --radius: 0.75rem;
    --sidebar-background: 0, 0%, 100%; /* #ffffff */
    --sidebar-foreground: 0, 0%, 9%; /* #171717 */
    --sidebar-primary: 176, 88%, 45%; /* #0ed6c7 */
    --sidebar-primary-foreground: 0, 0%, 100%; /* #ffffff */
    --sidebar-accent: 21, 100%, 95%; /* #fff4f0 */
    --sidebar-accent-foreground: 21, 100%, 20%; /* #4d1a00 */
    --sidebar-border: 0, 0%, 90%; /* #e5e5e5 */
    --sidebar-ring: 176, 88%, 45%; /* #0ed6c7 */
  }
  .dark {
    --background: 219, 29%, 15%; /* #1c2433 */
    --foreground: 0, 0%, 98%; /* #fafafa */
    --card: 224, 21%, 21%; /* #2a3040 */
    --card-foreground: 0, 0%, 90%; /* #e5e5e5 */
    --popover: 223, 19%, 18%; /* #262b38 */
    --popover-foreground: 0, 0%, 90%; /* #e5e5e5 */
    --primary: 176, 88%, 45%; /* #0ed6c7 */
    --primary-foreground: 0, 0%, 100%; /* #ffffff */
    --secondary: 222, 19%, 20%; /* #2a303e */
    --secondary-foreground: 0 0% 98%; /* #e5e5e5 */
    --muted: 222, 19%, 20%; /* #2a303e */
    --muted-foreground: 0, 0%, 64%; /* #a3a3a3 */
    --accent: 178, 77%, 22%; /* #effefb */
    --accent-foreground: 0, 0%, 90%; /* #e5e5e5 */
    --destructive: 0, 84%, 60%; /* #ef4444 */
    --destructive-foreground: 0, 0%, 98%; /* #fafafa */
    --border: 224, 16%, 28%; /* #3d4354 */
    --input: 224, 16%, 28%; /* #3d4354 */
    --ring: 176, 88%, 45%; /* #0ed6c7 */
    --chart-1: 176, 88%, 45%; /* #0ed6c7 */
    --chart-2: 21, 100%, 75%; /* #ffb380 */
    --chart-3: 21, 100%, 55%; /* #e66b1a */
    --chart-4: 21, 100%, 45%; /* #cc5500 */
    --chart-5: 21, 100%, 35%; /* #993d00 */
    --sidebar-background: 223, 20%, 21%; /* #2a303f */
    --sidebar-foreground: 0, 0%, 98%; /* #fafafa */
    --sidebar-primary: 176, 88%, 45%; /* #0ed6c7 */
    --sidebar-primary-foreground: 0, 0%, 9%; /* #171717 */
    --sidebar-accent: 21, 100%, 15%; /* #4d1a00 */
    --sidebar-accent-foreground: 21, 100%, 95%; /* #fff4f0 */
    --sidebar-border: 224, 16%, 28%; /* #3d4354 */
    --sidebar-ring: 176, 88%, 45%; /* #0ed6c7 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark:text-primary-foreground;
  }

  body {
    @apply font-sans text-sm leading-5 text-slate-800 antialiased [text-rendering:optimizeLegibility] dark:[color-scheme:dark];
  }

  body.is-monochrome::before {
    @apply pointer-events-none fixed inset-0 z-[999999] -m-[5rem] h-[calc(100%+10rem)] w-[calc(100%+10rem)] backdrop-grayscale backdrop-opacity-[.92] content-[''];
  }
}
/* Sidebar Toggle Button */
.menu-toggle span {
  @apply h-[2px] w-5 translate-x-0 bg-current transition-all duration-200 ease-in-out;
}

.menu-toggle span:nth-child(2) {
  @apply w-3;
}

.menu-toggle.active span {
  @apply ml-2 w-[11px] -translate-x-2;
}

.menu-toggle.active span:nth-child(1) {
  @apply -rotate-45;
}

.menu-toggle.active span:nth-child(2) {
  @apply hidden;
}

.menu-toggle.active span:nth-child(3) {
  @apply rotate-45;
}

/* Sidebar */
.main-sidebar {
  @apply fixed left-0 top-0 z-40 h-full w-[var(--main-sidebar-width)] shrink-0 -translate-x-full transform-gpu transition-transform duration-200 ease-in md:z-[60] md:translate-x-0;
}

.is-sidebar-open .main-sidebar {
  @apply translate-x-0;
}

.sidebar-panel {
  @apply fixed left-0 top-[61px] z-30 h-full w-[calc(var(--main-sidebar-width)+var(--sidebar-panel-width))] -translate-x-full transform-gpu transition-transform delay-150 duration-200 ease-in dark:shadow-navy-900/60 md:animate-slide-right md:delay-0;
}

.is-sidebar-open .sidebar-panel {
  @apply translate-x-0 ease-out;
}

.sidebar-panel-min {
  @apply fixed top-[61px] z-40 h-full w-[var(--sidebar-panel-min-width)] shrink-0 -translate-x-full transform-gpu border-r border-solid border-gray-200 transition-transform duration-200 ease-in dark:border-gray-700 dark:shadow-navy-900/60 md:translate-x-[var(--main-sidebar-width)];
}

.is-sidebar-open .sidebar-panel-min {
  @apply -translate-x-full;
}

/* Header */
nav.header {
  @apply fixed right-0 top-0 z-20 flex h-[61px] w-full border-b border-border bg-white transition-all duration-200 dark:border-navy-700 dark:bg-background md:w-[calc(100%-var(--main-sidebar-width))];
}

nav.header:before {
  @apply absolute -left-[calc((100vw-100%))] h-full w-[calc(100vw-100%)] content-[''];
}

nav.header .header-container {
  @apply pl-3 pr-5 transition-[padding,width] duration-200 xl:pr-8;
}

/* .has-min-sidebar nav.header {
  @apply md:w-[calc(100%-(var(--main-sidebar-width)+var(--sidebar-panel-min-width)))];
}

.is-sidebar-open nav.header {
  @apply xl:w-[calc(100%-(var(--main-sidebar-width)+var(--sidebar-panel-width)))];
} */

.is-header-blur nav.header .header-container {
  @apply backdrop-blur supports-[backdrop-filter]:bg-white dark:supports-[backdrop-filter]:bg-background;
}

.is-header-not-sticky nav.header {
  @apply absolute;
}

/* Main content */
.main-content {
  @apply mt-[65px] bg-background px-3 pb-3 pt-6 transition-[width,margin-left,margin-right,padding-left,padding-right] duration-200 ease-in md:ml-[var(--main-sidebar-width)] lg:pl-11 lg:pr-8 print:m-0;
}

.has-min-sidebar .main-content {
  @apply md:ml-[calc(var(--main-sidebar-width)+var(--sidebar-panel-min-width))];
}

.is-sidebar-open .main-content {
  @apply ease-out xl:ml-[calc(var(--main-sidebar-width)+var(--sidebar-panel-width))];
}

/* Sideblock styles */
.navigation\:sideblock {
  @apply [--sideblock-width:260px];
}

.navigation\:sideblock .sidebar-panel {
  @apply w-[var(--sideblock-width)] -translate-x-full;
}

.navigation\:sideblock.is-sidebar-open .sidebar-panel {
  @apply translate-x-0;
}

.navigation\:sideblock nav.header {
  @apply w-full;
}

.navigation\:sideblock.is-sidebar-open nav.header {
  @apply xl:w-[calc(100%-(var(--sideblock-width)))];
}

.navigation\:sideblock .main-content {
  @apply ml-0;
}

.navigation\:sideblock.is-sidebar-open .main-content {
  @apply xl:ml-[var(--sideblock-width)];
}

/* Navigation Horizontal */
.navigation\:horizontal nav.header {
  @apply w-full sm:h-auto;
}

.navigation\:horizontal .main-content {
  @apply ml-0 sm:mt-28;
}

/* Fix 100vh issue for phones */
.h-100vh {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.min-h-100vh {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

/* Demo inline space */
.inline-space > :not([hidden]) {
  @apply mb-2.5 mr-2.5;
}

/* Scrollbar styles */
.is-scrollbar-hidden {
  @apply [scrollbar-width:none]; /* Firefox */
}

.is-scrollbar-hidden::-webkit-scrollbar {
  @apply hidden;
}

@supports selector(::-webkit-scrollbar) {
  .scrollbar-sm::-webkit-scrollbar {
    @apply size-1.5;
  }

  .scrollbar-sm:hover::-webkit-scrollbar-thumb,
  .scrollbar-sm:focus-within::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300/80 dark:bg-navy-400;
  }

  .scrollbar-sm::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-navy-300;
  }
}

.d-list {
  margin: 0;
}

.d-list .d-item {
  @apply flex items-center gap-1 border-b pb-2.5 dark:border-navy-400;
}

.d-list .d-item:last-child {
  @apply border-none pb-0;
}

.d-list > :not([hidden]) ~ :not([hidden]) {
  @apply mt-2;
}

.d-list .d-item .d-label {
  @apply min-w-32 max-w-48 flex-shrink-0 overflow-hidden text-ellipsis whitespace-nowrap text-secondary-foreground;
}

.d-list .d-item .d-content {
  word-break: break-all;
  @apply line-clamp-1 flex items-center text-sm font-medium text-black dark:text-navy-50;
}

/* app-preloader */
.app-preloader .app-preloader-inner::after,
.app-preloader .app-preloader-inner::before {
  @apply absolute left-0 top-0 h-full w-full rounded-full bg-slate-300/[.25] content-[''] dark:bg-navy-300/50;
  animation: spinner-grow 3s cubic-bezier(0.55, 0.15, 0.45, 0.85) infinite;
}

.app-preloader .app-preloader-inner::after {
  animation-delay: -1.5s;
}

.required::after {
  @apply ml-0.5 font-bold text-red-500;
  content: '*';
}

.input-error {
  @apply !border-red-500 transition-all duration-200 ease-in-out hover:border-red-500 focus-visible:!border-red-500 focus-visible:!ring-red-500 dark:!border-red-400 dark:focus-visible:!ring-red-400;
}

.error-message {
  @apply animate-slide-up text-xs text-red-500 dark:text-red-400;
}

.button-link {
  @apply font-medium hover:text-primary;
}

.no-scrollbar {
  /* For WebKit browsers */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  scrollbar-width: none;

  /* For older Edge and IE */
  -ms-overflow-style: none;
}

.page-title {
  @apply text-[1.85rem] font-bold dark:text-foreground;
}
